@import 'navbar';
@import 'BannerSection';
@import 'celsius-lists';
@import 'celsius-blocks-list';
@import 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: 'Inter', sans-serif;

  }
  
  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(95, 95, 95, 0.35);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
}


